.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-default-white;
}

.about__container {
  max-width: 1366px;
  width: 100%;
  min-height: 756px;
  padding: 120px 103px 120px 163px;
  display: flex;
  column-gap: 85px;
  position: relative;
}

.about__info {
  max-width: 355px;
  width: 100%;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about h2 {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  margin: 0;
  margin-top: 39px;
  margin-bottom: 7px;
}

.about b {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-sapphire;
  display: block;
  margin: 0;
  margin-bottom: 38px;
}

.about p {
  font-family: $ff-roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $color-sapphire;
  margin: 0;
}

.about__video {
  position: absolute;
  top: 408px;
  left: 540px;
  width: 364px;
  height: 228px;
  border: 1px solid black;
}

