.advantages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-ghost-white;
}

.advantages__container {
  max-width: 1366px;
  width: 100%;
  min-height: 104px;
  padding: 97px 183px 109px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages h2 {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  margin: 0 0 52px 10px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 360px;
  row-gap: 137px;
}

.advantages__item {
  display: flex;
  gap: 30px;
}

.advantages__item h4 {
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: $color-sapphire;
  margin: -4px 0 6px;
}

.advantages__item p {
  font-family: $ff-roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $color-sapphire;
  margin: 0;
}

.advantages__item b {
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 71px;
  line-height: 55px;
  margin: 0;
  background: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
  color: transparent;
  background-clip: text;
  margin-bottom: 4px;
}

.advantages__item span {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2e35ac;
  margin: 0;
}

.advantages__number {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.advantages__item--main {
  position: absolute;
  top: 3px;
  left: 381px;
  width: 240px;
  height: 307px;
  padding: 63px 34px;
  background-color: $color-sapphire;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.advantages__item--main b {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 74px;
  line-height: 55px;
  color: $color-default-white;
}

.advantages__item--main h4 {
  margin: -4px 0 31px;
  font-size: 26px;
  line-height: 39px;
  color: $color-default-white;
}

.advantages__item--main::before {
  content: "";
  position: absolute;
  top: 154px;
  left: -400px;
  width: 340px;
  height: 2px;
  background-color: rgba(209, 10, 66, 0.2);
}

.advantages__item--main::after {
  content: "";
  position: absolute;
  top: 154px;
  left: 300px;
  width: 340px;
  height: 2px;
  background-color: rgba(209, 10, 66, 0.2);
}

.advantages__item--main p {
  font-weight: 400;
  line-height: 24px;
  color: $color-default-white;
  text-align: center;
}


@media (max-width: $vp-tablet) {
  .advantages__container {
    min-width: 768px;
    padding: 91px 45px;
  }

  .advantages h2 {
    font-size: 42px;
    line-height: 50px;
    margin: 0 0 46px -20px;
  }

  .advantages__list {
    column-gap: 31px;
    row-gap: 329px;
  }

  .advantages__item--main::before,
  .advantages__item--main::after {
    display: none;
  }

  .advantages__item--main {
    top: 115px;
    left: calc(50% - 442px/2);
    width: 442px;
    height: 239px;
    padding: 43px 34px;
  }

  .advantages__item b {
    font-size: 58px;
    margin: 0 0 -6px;
  }

  .advantages__item--main b {
    font-size: 74px;
    margin-bottom: 14px;
  }

  .advantages__item h4 {
    font-size: 20px;
    line-height: 30px;
    margin: -4px 0 2px;
  }

  .advantages__item--main h4 {
    font-size: 22px;
    margin-bottom: 16px;
  }

  .advantages__item--main p {
    max-width: 200px;
  }
}


@media (max-width: $vp-mobile) {
  .advantages__container {
    min-width: 320px;
    padding: 62px 0 63px;
  }

  .advantages h2 {
    font-size: 32px;
    line-height: 38px;
  }

  .advantages__list {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 40px;
    width: 100%;
  }

  .advantages__item {
    flex-direction: column;
    align-items: center;
    gap: 13px;
  }

  .advantages__item--main {
    position: static;
    min-height: 239px;
    height: auto;
    width: 100%;
    padding: 48px 34px 40px;
  }

  .advantages__item--main b {
    margin-bottom: -3px;
  }

  .advantages__item--main h4 {
    margin-bottom: -3px;
  }

  .advantages__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantages__number {
    align-items: center;
  }

  .advantages__item p {
    max-width: 227px;
    text-align: center;
  }
}
