.coaches__card-wrapper {
  position: relative;
}

.coaches__card-wrapper:hover .coaches-card,
.coaches__card-wrapper:focus .coaches-card {
  z-index: 2;
  background-color: rgba(16, 38, 84, 0.89);
}

.coaches__card-wrapper:hover span,
.coaches__card-wrapper:focus span {
  display: none;
}

.coaches-card {
  width: 260px;
  height: 294px;
  padding: 52px 20px 52px 40px;
  background-color: $color-sapphire;
  color: $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-y: auto;
}

.coaches-card h4 {
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  margin: 0 0 -4px;
}

.coaches-card p {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #b6bdcc;
  margin: 0 0 33px;
}

.coaches-card ul {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 0 31px;
  padding: 0;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.coaches__cover {
  position: absolute;
  top: 0;
  left: 0;
}

.coaches__cover span {
  position: absolute;
  bottom: 22px;
  left: 69px;
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;
}

@media (max-width: $vp-tablet) {
  .coaches__card-wrapper {
    width: 269px;
  }

  .coaches-card {
    width: 268px;
    padding: 51px 20px 52px 39px;
  }

  .coaches__cover {
    width: 268px;
    height: 294px;
  }

  .coaches__cover img {
    width: 268px;
  }

  .coaches-card h4,
  .coaches-card p {
    margin-left: -18px;
  }
}

@media (max-width: $vp-mobile) {
  .coaches__card-wrapper {
    width: 100%;
    height: 100%;
  }

  .coaches-card {
    width: 100%;
    height: 100%;
    padding: 42px 18px;
  }

  .coaches-card h4,
  .coaches-card p {
    margin-left: 0;
  }

  .coaches__cover {
    width: 100%;
    height: 100%;
  }

  .coaches__cover span {
    left: calc(50% - 57px);
  }

  .coaches__cover img {
    width: 100%;
    height: auto;
    min-width: 226px;
    min-height: 274px;
  }
}
