.coaches {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-default-white;
}

.coaches__container {
  width: 100%;
  max-width: 1366px;
  min-height: 300px;
  padding: 0 103px 140px 103px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.coaches h2 {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  margin: 0 0 48px;
}

.coaches__swiper {
  width: 1160px;
  height: 294px;
}

.coaches__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.coaches__swiper-button-prev,
.coaches__swiper-button-next {
  position: absolute;
  top: 43%;
  width: 27px;
  height: 51px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coaches__swiper-button-prev:focus,
.coaches__swiper-button-next:focus {
  outline: 3px solid $color-egyptian-blue;
  border-radius: 4px;
}

.coaches__swiper-button-prev:hover,
.coaches__swiper-button-next:hover {
  outline: 3px solid $color-egyptian-blue;
  border-radius: 4px;
}

.coaches__swiper-button-prev {
  left: calc(50% - 642px);
}

.coaches__swiper-button-next {
  right: calc(50% - 642px);
}

@media (max-width: $vp-desktop) {
  .coaches__swiper {
    width: 920px;
  }

  .coaches__swiper-button-prev {
    left: calc(50% - 540px);
  }

  .coaches__swiper-button-next {
    right: calc(50% - 540px);
  }
}

@media (max-width: $vp-tablet) {
  .coaches__container {
    min-width: 768px;
    padding: 46px 45px 100px;
    align-items: center;
  }

  .coaches__swiper {
    width: 566px;
  }

  .coaches h2 {
    font-size: 42px;
    line-height: 50px;
    margin: 0 0 31px -5px;
  }

  .coaches__swiper-button-prev,
  .coaches__swiper-button-next {
    top: 48%;
  }

  .coaches__swiper-button-prev {
    left: calc(50% - 344px);
  }

  .coaches__swiper-button-next {
    right: calc(50% - 344px);
  }
}


@media (max-width: $vp-mobile) {
  .coaches__container {
    min-width: 320px;
    padding: 25px 15px 70px;
    align-items: center;
  }

  .coaches__swiper {
    width: 80%;
    min-width: 226px;
    height: 100%;
  }

  .coaches__list {
    width: 100%;
    height: auto;
  }

  .coaches h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 42px;
  }

  .coaches__swiper-button-prev {
    left: 6px;
  }

  .coaches__swiper-button-next {
    right: 6px;
  }

  .coaches__swiper-button-prev,
  .coaches__swiper-button-next {
    top: 50%;
  }

  .coaches__swiper-button-prev svg,
  .coaches__swiper-button-next svg {
    width: 10px;
    height: 19px;
  }
}
