.contacts-info {
  width: 100%;
  min-height: 337px;
  background-color: $color-default-white;
  padding: 56px 61px 26px 110px;
  position: relative;
}

.contacts-info::after {
  position: absolute;
  content: "";
  top: 164px;
  left: 354px;
  width: 1px;
  height: 102px;
  background-color: #74819c;
}

.contacts-info h2 {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  margin: 0 0 37px 10px;
}

.contacts-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 14px;
  display: grid;
  grid-template-columns: 170px 170px;
  column-gap: 120px;
  row-gap: 18px;
}

.contacts-info span {
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $color-sapphire;
  display: block;
  margin-bottom: 3px;
}

.contacts-info address,
.contacts-info p,
.contacts-info a {
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-sapphire;
  margin: 0;
  padding: 0;
  display: block;
}

.contacts-info a {
  width: 100%;
  max-width: max-content;
}

.contacts-info a:focus {
  outline: 4px solid $color-egyptian-blue;
  border-radius: 4px;
}

@media (max-width: $vp-desktop) {
  .contacts-info {
    padding: 56px 14px 26px 69px;
  }

  .contacts-info::after {
    left: 280px;
  }

  .contacts-info ul {
    column-gap: 80px;
  }
}

@media (max-width: $vp-tablet) {
  .contacts-info {
    min-height: 324px;
    padding: 61px 98px 63px 133px;
  }

  .contacts-info h2 {
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.03em;
    color: $color-sapphire;
    margin: 0 0 32px;
  }

  .contacts-info ul {
    margin: 0;
    grid-template-columns: 1fr 1fr;
    column-gap: 90px;
  }

  .contacts-info span {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 6px;
  }

  .contacts-info address,
  .contacts-info p,
  .contacts-info a {
    font-size: 18px;
    line-height: 27px;
  }

  .contacts-info::after {
    top: 151px;
    left: 399px;
    height: 129px;
  }
}


@media (max-width: $vp-mobile) {
  .contacts-info {
    min-height: 324px;
    padding: 65px 15px 62px;
  }

  .contacts-info h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 34px;
  }

  .contacts-info::after {
    display: none;
  }

  .contacts-info ul {
    grid-template-columns: 1fr;
    gap: 19px;
  }

  .contacts-info__schedule {
    grid-row: 2/3;
  }
}
