.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-default-white;
  border-top: 1px solid #74819c;
}

.contacts__container {
  max-width: 1366px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
