.feedback-card {
  width: 560px;
  height: 242px;
  background-color: $color-resolution-blue;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
  padding: 53px 62px;
  display: flex;
  column-gap: 28px;
  overflow-y: auto;
}

.feedback-card img {
  height: 80px;
  margin-top: 8px;
}

.feedback-card h4 {
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;
  margin: 0 0 12px;
}

.feedback-card p {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin: 0;
}

@media (max-width: $vp-tablet) {
  .feedback-card {
    width: 566px;
    padding: 55px 65px;
  }
}


@media (max-width: $vp-mobile) {
  .feedback-card {
    width: 226px;
    height: 335px;
    position: relative;
    padding: 40px 25px;
  }

  .feedback-card h4 {
    margin-left: 94px;
    margin-bottom: 34px;
    line-height: 26px;
  }

  .feedback-card p {
    text-align: center;
  }

  .feedback-card img {
    height: 68px;
    width: 68px;
    position: absolute;
    top: 40px;
    left: 41px;
  }
}
