.feedback-card {
  width: 560px;
  height: 242px;
  background-color: $color-resolution-blue;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
  padding: 53px 62px;
  display: flex;
  column-gap: 28px;
}

.feedback-card img {
  height: 80px;
  margin-top: 8px;
}

.feedback-card h4 {
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;
  margin: 0 0 12px;
}

.feedback-card p {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin: 0;
}
