.feedback {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-default-white;
}

.feedback__container {
  max-width: 1366px;
  width: 100%;
  padding: 17px 103px 119px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.feedback h2 {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  margin: 0 0 38px 10px;
}

.feedback__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.feedback__swiper {
  width: 560px;
  height: 242px;
}

.feedback__swiper-button-prev,
.feedback__swiper-button-next {
  position: absolute;
  top: 45%;
  width: 27px;
  height: 51px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback__swiper-button-prev:focus,
.feedback__swiper-button-next:focus {
  outline: 3px solid $color-egyptian-blue;
  border-radius: 4px;
}

.feedback__swiper-button-prev:hover,
.feedback__swiper-button-next:hover {
  outline: 3px solid $color-egyptian-blue;
  border-radius: 4px;
}

.feedback__swiper-button-prev {
  left: 343px;
}

.feedback__swiper-button-next {
  right: 343px;
}
