.feedback {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-default-white;
}

.feedback__container {
  max-width: 1366px;
  width: 100%;
  padding: 17px 103px 119px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.feedback h2 {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  margin: 0 0 38px 10px;
}

.feedback__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.feedback__swiper {
  width: 560px;
  height: 242px;
}

.feedback__swiper-button-prev,
.feedback__swiper-button-next {
  position: absolute;
  top: 45%;
  width: 27px;
  height: 51px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback__swiper-button-prev:focus,
.feedback__swiper-button-next:focus {
  outline: 3px solid $color-egyptian-blue;
  border-radius: 4px;
}

.feedback__swiper-button-prev:hover,
.feedback__swiper-button-next:hover {
  outline: 3px solid $color-egyptian-blue;
  border-radius: 4px;
}

.feedback__swiper-button-prev {
  left: calc(50% - 342px);
}

.feedback__swiper-button-next {
  right: calc(50% - 342px);
}

@media (max-width: $vp-desktop) {

}

@media (max-width: $vp-tablet) {
  .feedback__container {
    min-width: 768px;
    padding: 42px 45px 100px;
  }

  .feedback h2 {
    font-size: 42px;
    line-height: 50px;
    margin-left: -4px;
    margin-bottom: 40px;
  }

  .feedback__swiper {
    width: 566px;
  }

  .feedback__swiper-button-prev,
  .feedback__swiper-button-next {
    top: 48%;
  }

  .feedback__swiper-button-prev {
    left: calc(50% - 344px);
  }

  .feedback__swiper-button-next {
    right: calc(50% - 344px);
  }
}


@media (max-width: $vp-mobile) {
  .feedback__container {
    min-width: 320px;
    padding: 34px 15px 70px;
  }

  .feedback h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 42px;
  }

  .feedback__swiper {
    width: 226px;
    height: 335px;
  }

  .feedback__swiper-button-prev,
  .feedback__swiper-button-next {
    top: 49%;
  }

  .feedback__swiper-button-prev {
    left: 8px;
  }

  .feedback__swiper-button-next {
    right: 8px;
  }

  .feedback__swiper-button-prev svg,
  .feedback__swiper-button-next svg {
    width: 10px;
    height: 19px;
  }
}
