.navigation {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 40px;
  flex-wrap: wrap;
}

.navigation a {
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
}

.navigation a:hover {
  color: $color-egyptian-blue;
}

.navigation__mobile-logo {
  display: none;
}

@media (max-width: $vp-tablet) {
  .navigation {
    gap: 30px;
  }
}


@media (max-width: $vp-mobile) {
  .navigation {
    display: block;
    column-count: 2;
    column-gap: 30px;
    row-gap: 30px;
  }

  .navigation li {
    width: 130px;
    margin-bottom: 30px;
  }

  .navigation__mobile-logo {
    display: block;
  }

  .navigation__mobile-logo svg {
    width: 68px;
    height: 15px;
  }
}
