.social {
  min-width: 97px;
  max-width: 245px;
}

.social ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 11px;
  flex-wrap: wrap;
}

.social li {
  width: 25px;
  height: 25px;
  background-color: $color-default-white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social a {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.social a:hover {
  background-color: $color-egyptian-blue;
}
